//
   Created by jkarp on 5/25/2017.
head
    title test
    link(rel="stylesheet" href="public/css/main.css" type="text/css")
body
    img(src='public/imgs/cubeBubble.svg')
    script(src="public/js/vector.js")
    script(src="public/js/main.js")

