
html, body 
{
    margin: 0; 
    padding: 0;

}
ul
{
    list-style: none;
    margin:0;
    padding:0;
}
header
{
    display: flex;
    justify-content: space-between;
    flex-wrap:nowrap;

}
#mainNav
{
    width: 348px;
}
#mainNav ul
{
}
#mainNav ul li
{
    position:relative;
    display: inline;
    margin-right:-22px;
    top:-165px;
    transition: top .2s;
    cursor: pointer;
}
#mainNav ul li.selected
{
    top:-145px;
}
#mainNav ul li:hover
{
    top:-120px;
}
#mainNav ul li span
{
    display: block;
    position: absolute;
    cursor: pointer;
    left:0;
    bottom: 0;
    font-size: 18px;
    font-family: sans-serif;
    margin-bottom: 10px;
}